<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://www.shutterstock.com/image-vector/goat-glasses-cool-pink-style-600w-2226396627.jpg" width="30" height="30" alt="">
  </a>
  <div>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/menu']" >Productos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/padrecoches']">Padre Coches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/hijocoche']">Hijo Coche</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/padredeportes']">Padre deportes</a>
      </li>
    </ul>
  </div>
</nav>
